<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CooperHewitt-Thin.otf</string>
		<string>CooperHewitt-SemiboldItalic.otf</string>
		<string>CooperHewitt-Bold.otf</string>
		<string>CooperHewitt-BoldItalic.otf</string>
		<string>CooperHewitt-ThinItalic.otf</string>
		<string>CooperHewitt-Book.otf</string>
		<string>CooperHewitt-BookItalic.otf</string>
		<string>CooperHewitt-Medium.otf</string>
		<string>CooperHewitt-LightItalic.otf</string>
		<string>CooperHewitt-HeavyItalic.otf</string>
		<string>CooperHewitt-Heavy.otf</string>
		<string>CooperHewitt-Light.otf</string>
		<string>CooperHewitt-MediumItalic.otf</string>
		<string>CooperHewitt-Semibold.otf</string>
	</array>
</dict>
</plist>
